<div class="nav bg-dark p-1 text-center">
  <a class="navbar-brand text-white"
     routerLink="/store">
    SportsStore Admin</a>
</div>
<div class="bg-danger mt-1 p-1 text-center"
     *ngIf="errorMessage">
  {{ errorMessage }}
</div>
<div class="p-1">
  <form #f="ngForm"
        (ngSubmit)="authenticate(f)"
        novalidate>
    <div class="form-group">
      <label>Name</label>
      <input type="text"
             class="form-control"
             name="username"
             [(ngModel)]="username"
             required>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password"
             class="form-control"
             name="password"
             [(ngModel)]="password"
             required>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-secondary"
              routerLink="/store">
        Back to store
      </button>
      <button type="submit" class="btn btn-outline-primary"
              [disabled]="f.invalid">
        Login
      </button>
    </div>
  </form>
</div>

